.single_place__container .single_place__image{
    width: 100vw;
    height: 22rem;
    object-fit: cover;
    object-position: 100% 50%;
}

.single_place__container{
    display: grid;
    grid-template-rows: auto 1fr;
    width: 100%;
    justify-items: center;
    align-items: center;
}

@media screen and (min-width: 500px){
    .single_place__container .single_place__image {
        height: 30rem;
    }

    .single_place__book_flight__container {
        width: 80%;
    }

    .single_place__button_back{
        top: 9.4rem;
        left: 1.4rem;
        width: 4.8rem;
        height: 4.8rem;
    }
}

@media screen and (min-width: 650px){
    .single_place__container .single_place__image {
        height: 26rem;
    }

    .single_place__book_flight__container {
        width: 70%;
        margin-bottom: 2.8rem;
    }

    .single_place__button_back{
        top: 9.8rem;
        left: 1.8rem;
    }
    
}

@media screen and (min-width: 800px){
    .single_place__container .single_place__image {
        height: 34rem;
    }

    .single_place__book_flight__container {
        width: 64%;
    }

    .single_place__button_back{
        top: 10.0rem;
        left: 2.0rem;
        width: 5.2rem;
        height: 5.2rem;
    }
    
}

    @media screen and (min-width: 1000px){
        .single_place__container .single_place__image {
            height: 34rem;
        }
    
        .single_place__book_flight__container {
            width: 60%;
        }
    }

    @media screen and (min-width: 1200px){
        .single_place__book_flight__container {
            width: 46%;
        }

        .single_place__button_back{
            top: 10.6rem;
            left: 2.6rem;
            width: 5.2rem;
            height: 5.2rem;
        }
        
    }

    @media screen and (min-width: 1350px){
    
        .single_place__book_flight__container {
            width: 40%;
        }

        
        .single_place__button_back{
            top: 11rem;
            left: 3rem;
            width: 5.2rem;
            height: 5.2rem;
        }
    }