header .header__icons__container{
    display: flex;
    justify-content: space-between;
    padding:1.6rem 1rem 1.6rem 1rem;
}

header nav {
    display: flex;
    justify-content: center;
    padding: 1.6rem;
}

.carousel__photo{
    margin-top: 2rem;
    margin-bottom: 2rem;
    object-fit: cover;
    padding: 1.6rem;
    width: 100%;
    height: 26rem;
    border-radius: 2.8rem;
}

.header__navbar__input.header__navbar__input {
    width: 84%;
    border-radius: 1rem;
    border: 1px solid #b1b1b1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
}

.header__navbar__input .search__icon{
    background-image: url(../../assets/icons/Search__icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 3.4rem;
    height: 3.4rem;
    margin-right: 0.4rem;
}

.header__navbar__input input{
    width: 80%;
    height: 4rem;
    border-style: none;
    border-radius: 1rem;
    background-color: var(--white);
}

.menu__settings {
    width: 5rem;
    height: 5rem;
    margin-left: 1.2rem;
    border-radius: 1rem;
    border: none;
    background-color: var(--primary_color);
}

.menu__settings img{
    width: 4rem;
}

.carousel__photo{
    margin-top: 2rem;
    margin-bottom: 2rem;
    object-fit: cover;
    padding: 1.6rem;
    width: 100%;
    height: 26rem;
    border-radius: 2.8rem;
}

@media screen and (min-width: 550px) {
    .carousel__photo{
        height: 33rem;
    }

}

@media screen and (min-width: 650px){
    .carousel__photo{
        height: 42rem;
    }

    .header__navbar__input input{
        width: 90%;
    }
}

@media screen and (min-width: 750px){
    .carousel__photo{
        height: 50rem;
        padding: 3.2rem;
        border-radius: 5.8rem;
        margin-top: 0;
    }

}

@media screen and (min-width: 850px){
    .carousel__photo{
        height: 46rem;
        border-radius: 5.8rem;
    }

    .header__navbar__input input{
        width: 92%;
    }

    @media screen and (min-width: 1000px){
        .carousel__photo{
            height: 50rem;
            border-radius: 5.8rem;
            margin-top: 0;
        }

        .header__navbar__input input{
            width: 94%;
        }

        .header__navbar__input.header__navbar__input {
            width: 90%;
        }
    }

}