.season__packs__container{
    margin-bottom: 8.8rem;
}

.season__packs__container .season__packs__header{
    display: flex;
    margin: 1.6rem 1.6rem 0rem 1.6rem;
    justify-content: space-between;
    align-items: center;
}

.season__packs__container .season__packs__header h2{
    font-size: var(--lg);
    color: var(--black);
}

.season__packs__container .season__packs__header a{
    font-size: var(--sm);
    color: var(--primary_color);
    text-decoration: none;
    font-weight: 700;
}

.season__packs__container .season__packs__main{
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    max-height: 30rem;
    margin-left: 1.6rem;
}


.season__packs__container .season__packs__main::-webkit-scrollbar {
    background-color: var(--white);
    width: 88%;
}

.season__packs__container .season__packs__main::-webkit-scrollbar-thumb {
    background-color: var(--primary_color);
    border-radius: 1rem;
}

@media screen and (min-width: 650px){
    .season__packs__container{
        margin-bottom: 1.2rem;
    }

    .season__packs__container .season__packs__header {
        margin: 1.6rem 3.2rem 0rem 3.2rem;
    }

    .season__packs__container .season__packs__main {
        margin-left: 3.2rem;
    }
}