:root{

  --black: #000000;
  --white: #ffffff;
  --sm: 1.4rem;
  --md: 1.6rem;
  --lg: 1.8rem;
  --title: 4.8rem;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  font-size: 62.5%;
}

body{
  font-family: 'Inter', sans-serif;
  font-family: 'Kanit', sans-serif;
  background-color: var(--dark-cyan);
}